.principal{
    background-color: gray;
    padding: 30px;
}

.negrito {
    font-size: 20px
}

.banner {
    width: 100%;
}

.beneficios {
    background: #ffffff;
    padding: 20px;
}

.imagensbeneficios {
    width: 50%;
}

.titulocentralizado {
    text-align-last: center;
    
}